section {
    /* height: auto !important; */
}

#about {
    padding: 10vh 7rem;
    height: auto !important;
    background-color: var(--color-primary-variant);
}

.about-img-con {
    /* width: 30vw; */
    /* padding: 2rem; */
    
}

.about-img {
    height: 28rem;
    width: 26rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    /* height: 70vh; */
}

.about-inner-con {
    display: flex;
    gap: 4rem;
    align-items: center;
    /* height: 100vh; */
}

.about-me-con {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    width: 50%;
}

.about-me-header {
    font-size: 1em;
    color: var(--color-green);
}

.about-me-title {
    font-size: 1.5em;
}

.about-me-text > h4 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
}





/* .about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(15deg);
    transition: var(--transition);

}

.about__me-image:hover {
    transform: rotate(0deg);
    transition: var(--transition);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-blue-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    color: var(--color-orange);
}

.about__icon {
    color: var(--color-light);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__content p {
    margin: 1.2rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}
.about__content {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

/* MEDIA QUERIES */
/* @media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem;
    }

    .about__content p{
        margin: 1rem 0 1.5rem;
    }
}  */

@media screen and (max-width: 600px) {
    #about {
        padding: 10vh .5rem;
    }

    .about-inner-con {
        gap: 1rem;
        flex-direction: column;
    }

    .about-img-con {
        width: 60vw;
    }

    .about-img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    .about-me-con {
        gap: 8px;
        width:90%;
    }

    .about-me-title {
        font-size: .8em;
    }

    .about-me-text {

        font-size: .7em;
        font-weight: 200;
    }
}
