

#header {
    position: relative;
    padding-top: 14rem;
    /* top: 8rem; */
    padding-left: 4rem;
    /* height: 80vh; */
}



.intro-con {
    width: 75vw;
    padding: 2rem;
    /* position: absolute; */
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.intro {
    font-size: 2.5em;
    font-weight: 400;
}

.into-subtext {
    /* position: absolute; */

    width: 50%;
    font-size: 1.3em;
    font-weight: 400;
}

.hero-btn {
    display: flex;
    gap: 1rem;
}

.intro-btn {
    padding: .5rem;
    background-color: var(--color-green);
    color: var(--color-bg);
    width: 9rem;
    border-radius: 2rem;
    font-size: 1em;
}

.contact-btn {
    padding: .5rem;
    background-color: var(--color-primary);
    color: var(--color-bg);
    width: 9rem;
    border-radius: 2rem;
    border: 3px solid var(--color-green);
    font-size: 1em;
}



@media screen and (max-width: 500px) {

    #header {
        padding-top: 5rem !important;
        padding: 1rem;
    }

    .intro-con {
        width: 90vw;
        padding: 2rem;
        /* position: absolute; */
    }
    
    .intro {
        font-size: 1.5em;
    }
    
    .into-subtext {
        font-size: 1.1em;
        width: 100%;
    }
    
    .hero-btn {
        gap: 1rem;
    }
    
    .intro-btn {
        padding: .5rem;
        width: 7rem;
        border-radius: 1rem;
        font-size: .8em;
    }
    
    .contact-btn {
        padding: .5rem;
        width: 7rem;
        border-radius: 2rem;
        border: 1px solid var(--color-green);
        font-size: .8em;
    }
}
